@import "tailwindcss";


body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
body::-webkit-scrollbar {
    display: none;
}
.top-body {
    height: 100vh;
    justify-items: center;
    align-content: center;
}
.pfp-id {
    color: rgb(203, 168, 249);
}
.certificates {
    display: flex;
    /* flex-direction: row; */
    justify-content: center;
    gap: 10px;
}
@media screen and (max-width: 600px) {
    .certificates {
        display: flex;
        flex-direction: column;
    }
}
.certs {
    align-items: center;
}
.cert-section>img {
    height: 400px;
}
.frontend-stack span, .backend-stack span {
    background-color: blueviolet;
    border-radius: 10px;
    padding: 2px 10px;
    font-size: 14px;
}
.frontend-stack {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}
@media screen and (max-width: 680px) {
    .backend-stack {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
}
/* .backend-cert, .frontend-cert {
    background-position: center;
    background-size: contain;
    box-shadow: inset 0 -50px 100px -50px black;
} */
.view-cert {
    background-color: white;
    color: black;
    padding: 1px 10px;
    border-radius: 5px;
    font-weight: 500;
}
.dwn-cert {
    background-color: blueviolet;
    color: white;
    padding: 1px 10px;
    border-radius: 5px;
    font-weight: 500;
}
@media screen and (max-width: 500px) {
    .git-txt {
        font-size: 13px;
    }
    .frontend-stack {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 5px;
    }
}